html{
	font-size: 28px;
	background: #eeeeee;
}

.left{
	float: left;
}
.right{
	float: right;
}

@media (min-width: 320px) and (max-width: 374px){
	html{
		font-size: 12px !important;
	}
} 
@media (min-width: 375px) and (max-width: 413px){
	html{
		font-size: 14px !important;
	}
} 
@media (min-width: 414px) and (max-width: 639px){
	html{
		font-size: 15.5px !important;
	}
} 
@media (min-width: 641px) and (max-width: 749px){
	html{
		font-size: 24px !important;
	}
} 

@function pe($px){
	@return 1rem * $px / 28px;
}
